html {
    box-sizing: border-box;
    font-family: 'lucida console', sans-serif;
    min-height: 100%;
    font-size: 16px;
}

html, body {
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'lucida console', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    color: #fff;
}

main {
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    top: 3rem;
    margin: 0 auto;
}

header {
    width: 100%;
}

section {
    width: 100%;
}

section > * {
    margin: 1rem;
}